<% content_for :title, "#{t('.blog_archive_for', :date => @archive_date.strftime('%B %Y'))}" %>

<% content_for :body_content_left do %>
  <h1><%= t('.blog_archive_for', :date => @archive_date.strftime('%B %Y')) %></h1>
  <% if @posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_posted', :date => @archive_date.strftime('%B %Y')) %></p>
  <% end %>
<% end %>
<div class="blog">
	<div class="row-fluid">
		<%= render :partial => '/refinery/blog/shared/body_content_right' %>
	</div>
	<div class="row-fluid">
		<%= render :partial => "/refinery/content_page" %>
	</div>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
</div>
