<div class="row-fluid">
	<% if !@page.parent_id.nil? || @page.children.any? %>
		<% show_sidebar = true %>
	<% end %>
	<% if show_sidebar %>
		<div class='span4 well well-small'>
			<!-- this sidebar things could be modularized -->
			<!-- adjacent pages -->
			<div id='sidebar'>
				<%= render :partial => '/refinery/pages/sidebar', :locals => {:page => @page} %>
			</div>
		</div>
	<% end %>
	<div class="<%= show_sidebar ? 'span8' : 'span12' %>">
<% if @page.images.any? %>
<div class='row-fluid'>
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <% @page.images.count.times do |index| %>
		    <li data-target="#myCarousel" data-slide-to="<%= index.to_s %>" <%= 'class="active"' if index == 0 %>></li>
	    <% end %>
	  </ol>
	  <div class="carousel-inner">
	    <% @page.images.each_with_index do |image, index| %>
		    <div class="<%= 'active ' if index == 0 %>item">
	        <%= image_tag(image.thumbnail("600x300#c").url, :style => 'width: 100%') %>
	        <div class='carousel-caption'>
	        	<h4><%=raw @page.caption_for_image_index(index) %>  <span class='pull-right'><%= link_to "See Larger Image", image.url %></span></h4>
	        </div>	
		    </div>
	    <% end %>
	  </div>
    <% if @page.images.count > 1 %>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lt;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&gt;</a>
    <% end %>
	</div>
</div>
<% end %>
		<%= render '/refinery/content_page' %>
	</div>
</div>