<% content_for :page_title do %>
  <div class="span4"><%= render '/refinery/shared/search' %></div>
  <%= t('.search_results_for', :what => params[:query]) %>
<% end %>

<% content_for :body do %>
  <% if @results.empty? %>
    <%= t('.no_results_for', :what => params[:query]) %>
  <% else %>
    <ul class='media-list' id="search_results">
      <% @results.each do |result| %>
        <li class='media clearfix'>
        <%= link_to result_url(result), :class => "pull-left" do %>
          <% if result.images.any? %>
            <%= image_tag result.images.first.thumbnail("80x80#c").url, :class => 'media-object img-polaroid' %>          
          <% elsif result.respond_to?(:author) && result.author.present? %>
    <% 
    # TODO MOVE TO A BETTER PLACE
    # THIS IS BAD CONVENTION.
    def avatar_url(email, options = {:size => 60})
      require 'digest/md5'
      "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(email.to_s.strip.downcase)}?s=#{options[:size]}.jpg"
    end
    %>
            <%= image_tag avatar_url(result.author.email, :size => "80x80"), :alt => result.author, :class => 'avatar media-object img-polaroid' %>
          <% else %>
            <%= image_tag "http://placehold.it/80/ccccff/000000&text=Show", :class => 'media-object img-polaroid' %> 
          <% end %>
        <% end %>
        <div class="media-heading">
          <% display_time = result.respond_to?(:published_at) ? result.published_at : result.updated_at %>
          <time datetime="<%=l display_time.to_date, :format => :default %>" class='posted_at'>
            <%= display_time.to_date.strftime('%A, %b %d %Y') %>
          </time>
          <%= content_tag(:strong, "#{t('by', :scope => 'refinery.blog.posts.show')} #{result.author.username}", :class => "blog_author") if result.respond_to?(:author) && result.author.present? %>
          <h4 class='title grey'>
            <span class='result_type'>
              <%= result_type result %>
            </span>
            <%= link_to result_title(result).html_safe, result_url(result) %>
          </h4>
        </div>
        <div class="media-body">
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render "/refinery/content_page" %>