<% if post.live? %>
<div class='row-fluid'>
  <div class='span3'>
    <section class='details'>
      <div class='date'>
        <div class='published'>
          <div class="day pull-left"><%= post.published_at.to_date.day %></div>
          <div class="month pull-right">
            <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
              <%= post.published_at.to_date.strftime('%b %Y') %>
            </time>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <% if post.author.present? %>
        <% 
        # TODO MOVE TO A BETTER PLACE
        # THIS IS BAD CONVENTION.
        def avatar_url(email, options = {:size => 60})
          require 'digest/md5'
          "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(email.to_s.strip.downcase)}?s=#{options[:size]}.jpg"
        end
        %>
        <div class="blog_auhtor author media">
          <%= "#{t('by', :scope => 'refinery.blog.posts.show')} #{post.author.username}" %>
          <%= link_to refinery.blog_post_path(post), :class => "pull-right" do %>
            <%= image_tag avatar_url(post.author.email, :size => "50x50"), :alt => post.author, :class => 'avatar media-object img-polaroid' %>
          <% end %>
        </div>
      <% end %>
      <% if (categories = post.categories).any? %>
        <div class='filed_in tags'>
          <i class="icon-folder-open"></i>
          <%= t('filed_in', :scope => 'refinery.blog.posts.show') %>
          <% categories.collect do |category| %>
            <span class='label label-info'><%= link_to category.title, refinery.blog_category_path(category) %></span>
          <% end %>
        </div>
      <% end %>
      <% if (tags = post.tags).any? %>
        <aside class='tags'>
          <i class="icon-tags"></i>
          <% tag_cloud(tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
            <span class='label label-info1'><%= link_to tag.name, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => css_class %></span>
          <% end %>
        </aside>
      <% end %>
      <% if (comments = post.comments.approved).any? %>

        <aside class='comment_count comments'>
          <div class="comments">
            <i class="icon-comments"></i> <a href="#comments"><%= comments.any? ? "(#{comments.count})" : 'be the first!'  %> <%= t('title', :scope => 'refinery.blog.posts.show.comments') %></a>           
          </div>
        </aside>
      <% end %>
    </section>
  </div>
  <div class='span9'>
    <article class="blog_post" id="<%= dom_id(post) %>">
      <header>
        <h4 class='title grey'><%= link_to post.title, refinery.blog_post_path(post) %></h4>
      </header>
      <section class='clearfix'>
        <% if blog_post_teaser_enabled? %>
          <%= blog_post_teaser(post) %>
        <% else %>
          <%= post.body.html_safe %>
        <% end %>
      </section>


      <footer>
        <p>
          <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post), :class => 'btn btn-primary' if blog_post_teaser_enabled? %>
        </p>
      </footer>
    </article>
  </div>
</div>
<hr class="solid">
<% end %>
