<% if @posts.many? %>
  <hr class='dashed'>
  <h4 class='title grey'>Recent Posts</h4>
  <ul class='media-list' id="blog_posts">
  	<% 
  	# TODO MOVE TO A BETTER PLACE
    # THIS IS BAD CONVENTION.
  	def avatar_url(email, options = {:size => 60})
      require 'digest/md5'
      "http://gravatar.com/avatar/#{Digest::MD5.hexdigest(email.to_s.strip.downcase)}?s=#{options[:size]}.jpg"
    end
  	%>
    <% @posts.recent(5).each do |blog_post| %>
      <li class='media clearfix'>
        <div>
          <%= content_tag(:small, "#{t('by', :scope => 'refinery.blog.posts.show')} #{blog_post.author.username}", :class => "blog_author") if blog_post.author.present? %>
          <small><%= t('time_ago', :scope => 'refinery.blog.posts.comments', :time => time_ago_in_words(blog_post.published_at)) %></small>
        </div>
      	<%= link_to refinery.blog_post_path(blog_post), :class => "pull-left" do %>
          <% if blog_post.images.any? %>
            <%= image_tag blog_post.images.first.thumbnail("50x50#c").url, :class => 'media-object img-polaroid' %>
          <% else %>
            <%= image_tag avatar_url(blog_post.author.email, :size => "50x50"), :alt => blog_post.author, :class => 'avatar media-object img-polaroid' %>
          <% end %>
			  <% end %>
        <%# "blog_author blog" makes the author line too long %>
        <div class='media-body'><%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>