<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<meta name="keywords" content="#{@meta.meta_keywords}">) if @meta.meta_keywords.present? -%>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <meta property="twitter:account_id" content="<%= ::Refinery::Setting.find_or_set(:twitter_analytics_account_id, "252474636") %>" />
  <meta name="google-site-verification" content="lds_3OyS1BEKt_KPCnaQjwD7e1czZJ5XOOo6nAxrvp4" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>
  <%= google_webfonts_init({google: ['Oswald', 'Open Sans', 'Quick Sand']}) %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :stylesheets %>

  <%= render '/refinery/google_analytics' %>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TV7RML"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TV7RML');</script>
  <!-- End Google Tag Manager -->

  <%= javascript_include_tag 'modernizr-min' %>
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon-57.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

</head>
