<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <!-- <header id="header">
      <%#= render '/refinery/header' -%>
    </header> -->
    <% if @page && !@page.content_for(:precontent).blank? %>
      <%= raw @page.content_for(:precontent) %>
    <% else %>
    <div id='content-title'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span9'>
            <h3 class='title'><%= content_for?(:page_title) ? yield(:page_title) : @page.title %></h3>
          </div>
          <div class='span3'>
            <!-- <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <ul class='pager'>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>
                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div id='content-body'>
      <div id='page' class='container'>
        <%= yield %>
      </div>
    </div>
    <!-- <footer>
      <%#= render '/refinery/footer' -%>
    </footer> -->
    <%= render '/refinery/javascripts' %>
  </body>
</html>